{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {{ range .Params.tags }}
                        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">
                            {{ . }}
                        </a>
                        {{ end }}
                    </div>
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                    <span class="meta">
                        {{ if .Params.metadata }}
                            {{ range $index, $element := .Params.metadata }}
                                {{ if .link }}
                                    <a href="{{ .link }}">{{ .text }}</a>
                                {{ else }}
                                    {{ .text }}
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            Posted by 
                            {{ if .Params.author }}
                                {{ .Params.author }}
                            {{ else }}
                                    {{ .Site.Title }}
                            {{ end }} 
                            on 
                            {{ .Date.Format "Monday, January 2, 2006" }}
                            {{ if .Site.Params.page_view_counter }}
                                {{ partial "page_view_counter.html" . }}
                            {{ end }}
                            <!-- Don't show "Last Modified on" if update happened on the same day. -->
                            {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                            <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
                            {{ end }}
                        {{ end }}    
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}
{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="
            col-lg-8 col-lg-offset-1
            col-md-8 col-md-offset-1
            col-sm-12
            col-xs-12
            post-container">

                {{ .Content }}

            </div>
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
        </div>
    </div>
</article>

{{ end }}